doctype html 
html
  head
    title Max Dance Accademy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="../static/logo.png", alt="logo coming")
                | MDA
            li #[a(href ="/") Home ]
            li #[a(href ="/") About]
            li #[a(href ="/") Services]
            li #[a(href ="/") Info]
            li #[a(href ="/contact") Contact Info]
    block content
    block foot
     footer#footer
        | Copyright © 2020 MaxDanceAccademy.com | All rights reserved