*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
h1{
    text-align: center;
    margin: 12px 0;
}
.container{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.container h1{
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}
.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.myinput{
    width: 40%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border: 2px solid rgb(82, 6, 6);
    border-radius: 8px;
    outline: none;
}
.btn{
    padding: 12px 16px;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    background-color:red;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    
}
